.father {
    display: flex;
    flex-direction: column;
    
}
.parents {
    display: flex;
    flex-direction: row;
}
.child1 {
    height: 200px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #000;
    content: ' ';
}
.child2 {
    
}
.child3 {
    display: flex;
    justify-content: center;
    height: 200px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #000;
    
}
