* {
    margin: 0;
    padding: 0;
}
/*.parents {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        border: 1px solid grey;
        background-color: orange;
        margin: 0;
        padding: 10px;
    }
    :nth-child(2) {
        border: 1px solid grey;
        background-color: pink;
        margin: 0;
        padding: 10px;
    }
        :nth-child(4) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    
    p {
        margin: 0;
        padding: 10px;
        background-color: aquamarine;
    }
}*/
/*.father {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px;

div {
    border: 1px solid black;
   
    
    &:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: blanchedalmond;
    }
    &:nth-child(8) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
        background-color: rgb(243, 152, 16);
    }
    &:nth-child(9) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        background-color: rgb(243, 152, 16);
    }
    &:nth-child(10) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 4;
        background-color: rgb(243, 152, 16);
    }
}
}*/
.father {    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "aa bb bb bb bb cc"
    "dd bb bb bb bb ee"
    "ff bb bb bb bb gg"
    "mm mm cc cc nn nn";
    
   
        &:nth-child(1) {
            grid-area: aa;

        }

        &:nth-child(2) {
            grid-area: bb;

        }
        &:nth-child(3) {
            grid-area: cc;

        }
        &:nth-child(4) {
            grid-area: dd;

        }
        &:nth-child(5) {
            grid-area: ee;

        }
        &:nth-child(6) {
            grid-area: ff;

        }
        &:nth-child(7) {
            grid-area: gg;

        }
        &:nth-child(8) {
            grid-area: mm;

        }
        &:nth-child(9) {
            grid-area: cc;

        }
        &:nth-child(10) {
            grid-area: nn;

        }
    
        div {
            border: 1px solid rgb(12, 12, 12);
        }
}